modules = ["nodejs-20", "python-3.12", "web"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "start.sh"]

[userenv]

[userenv.shared]
MONGO_URL = "mongodb://localhost:27017"
DB_NAME = "burapay"
ADMIN_IDS = "1617111900,8335743983"
REACT_APP_BACKEND_URL = ""
WEBAPP_URL = "https://2d01c317-7c32-4a39-af33-5eb4fd777ea2-00-9p4hi3tpx97c.pike.replit.dev"
